extends base.pug

block scripts
    script(src="./static/index.js")

block style 
    style 
        include ../static/style.css
        include ../static/aboutstyle.css

block content 
    h2 Welcome to YOGA FREAK!

    p At YOGA FREAK, we believe in the transformative power of yoga and its ability to create positive change in people's lives. Our studio is a sanctuary where individuals of all ages and abilities can come together to practice, learn, and grow in a supportive and nurturing environment.

    p we believe that yoga is a transformative practice that nourishes the body, calms the mind, and uplifts the spirit. Our mission is to create a warm and inclusive space where individuals of all ages and fitness levels can embark on their yoga journey and experience the profound benefits it brings to their lives

    h3 Our Mission:

    p Our mission is to provide a holistic approach to wellness through the practice of yoga. We are dedicated to empowering individuals to cultivate balance, strength, flexibility, and inner peace. We strive to create a welcoming community that embraces diversity, encourages self-discovery, and promotes overall well-being.
    
    p We believe that yoga is a powerful tool for self-discovery and self-transformation. Our classes and workshops are designed to provide a supportive environment where students can explore their inner landscape, embrace their strengths, and unlock their full potential. We encourage students to deepen their self-awareness, cultivate self-compassion, and develop a sense of inner harmony.

    p At YOGA FREAK, we emphasize the integration of mind, body, and breath. Through mindful movement, breath awareness, and meditation practices, we help students develop a profound connection with their bodies and cultivate a deeper understanding of their physical and mental well-being. We strive to create a space where students can explore their physical capabilities, enhance their flexibility and strength, and find balance and serenity within.

    h3 Our Class Offerings:

    div#offer
        ul 
            li #[b Gentle Yoga]: Perfect for beginners or those seeking a slower-paced practice, our gentle yoga classes provide a nurturing environment to build strength, increase flexibility, and reduce stress.

            li #[b Vinyasa Flow]: Get ready to move and flow with our dynamic vinyasa classes. These classes combine breath-synchronized movements with creative sequences to cultivate strength, balance, and vitality.

            li #[b Restorative Yoga]: Indulge in deep relaxation and rejuvenation with our restorative yoga classes. These soothing sessions focus on gentle stretches, supported postures, and guided relaxation techniques to release tension and promote profound relaxation.

            li #[b Meditation and Mindfulness]: Immerse yourself in the present moment through our meditation and mindfulness classes. Discover techniques to calm the mind, reduce stress, and cultivate inner peace.

    p In addition to our regular classes, we also offer specialized workshops, retreats, and events to deepen your practice and explore different aspects of yoga. Whether you're looking to refine your alignment, deepen your meditation practice, or simply connect with a community of like-minded individuals, our workshops provide a space for growth, learning, and transformation.

    p We invite you to join us at [Your Yoga Studio Name] and embark on a journey of self-discovery, well-being, and inner peace. Come experience the transformative power of yoga in a supportive and uplifting environment. No matter where you are on your yoga path, we are here to guide, inspire, and empower you every step of the way.

    h2 NAMASTE 🙏

    