html
  head
    title YOGA CLASSES
    block scripts 
    block style 


  body
    nav#navbar 
        ul 
            li #[a(href="/") HOME ]
            li #[a(href="/") SERVICES ]
            div.center
              a(href="/") YOGA FREAK
            li #[a(href="/") ABOUT ]
            li #[a(href="/register") REGISTER NOW ]
    block content
    footer#footer 
        | Copyright Ⓒ 2023 yogafreak.com | All rights reserved